[Unit]
Description=VSCode tunnel service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=sigmoid
ExecStart=/bin/bash /home/sigmoid/start_tunnel.sh

[Install]
WantedBy=multi-user.target
